

{% extends "music/home.html" %}
{% load static %}

{% block title %}Контакты{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'music/style.css' %}" type="text/css">

<div class="contacts">
<a class="contacts-link" href="https://www.linkedin.com/in/daniil-tsybulnikau/">LinkedIn</a>
<a class="contacts-link" href="https://www.facebook.com/daniil.hrodna.by">Facebook</a>
<a class="contacts-link" href="https://github.com/dan-tsybulnikau">GitHub</a>
<img src="{% static 'music/tms.png' %}" alt="My image">

{% include "music/footer.html" %}

{% endblock %}


